<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/main.min.css")
    body
        //- video#video_bg(autoplay='autoplay', loop='loop')
            source(src='video/glitch.webm', type='video/webm')

        header.header
            .container
                .grid
                    .grid_item.grid_item_logo
                        img(src="img/logo.jpg", alt="")
                    a(href="https://vk.com/vk.episode").grid_item.grid_item_vk   
                    a(href="#").grid_item.grid_item_3      
                    a(href="#").grid_item.grid_item_4
                    a(href="#").grid_item.grid_item_5
                    a(href="#").grid_item.grid_item_6   
                    a(href="#").grid_item.grid_item_7 
                    a(href="#").grid_item.grid_item_8   
                    a(href="#").grid_item.grid_item_9
                       
                   
         
