<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title episode
        <link rel="shortcut icon" href="img/logo.png" type="image/png">
        link(rel="stylesheet", href="css/main.min.css")
    body
        header
            .container
                .logo
                    img(src="../img/logo.png", alt="")
        main
            section
                .container
                    .episode
                        img(src="../img/episode.gif", alt="")

                    .soc
                        a(href="https://coub.com/.episode").soc_coub
                        a(href="https://vk.com/vk.episode").soc_vk
                        a(href="https://shikimori.org/episode").soc_sh

                    .about
                        h1 -О себе-
                        p Я родился в провинции Лангедок в 1668-м году. Мой род, хотя ныне и обедневший,  принадлежит к одним из самых славных и  древних  семейств  королевства. Мой  отец граф де Бриссак сражался  в Голландии в полку г-на Лаваля и был ранен копьем при осаде Монферрата, на стенах которого он первым водрузил королевское знамя. До 17 лет я жил в родовом замке, где, благодаря заботам моей матушки баронессы де Монжу, был прилично воспитан и получил изрядное образование. Ныне,расставшись со своими дорогими родителями, дабы послужить отечеству на поле брани, пилю кубы для его величества.
        footer
            .container
                p 2018 г. 
                    a(href="https://github.com/MishaShapka") @mishashapka